<section class='header'>
  <div class='header-wrapper'>
    <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class='nav-links site-nav'>
      <a href="{{ site.baseurl }}/">Results</a>
      <a href="{{ site.baseurl }}/explore">Explore</a>
      <a href="{{ site.baseurl }}/methods">Methods</a>
      <a href="{{ site.baseurl }}/about">About</a>
      <a href="{{ site.baseurl }}/contribute">Contribute</a>
    </div>
  </div>

  <script src="/ripples/javascripts/navigation.js" type="text/javascript"></script>
</section>
