* {
  margin: 0;
}

html, body {
  background-color: $dark-background-color;
  height: 100%;
  min-height: 100%;
}

b {
  font-weight: 600;
}

.header {
  background-color: $dark-background-color;
  height: 80px;
  padding: 10px;

  .header-wrapper {
    max-width: 100%;
    margin: 0 auto;
    width: 1000px;

    .nav-links {
      display: inline-block;
      float: right;

      a {
        color: $light-gray;
        letter-spacing: 0.02em;
        line-height: 60px;
        margin-left: 0.85em;
        font-weight: 600;

        &:hover, &:active, &.active {
          color: lighten($light-gray, 15);
          text-decoration: none;

          &:nth-child(1) {
            color: $accent-magenta;
            text-shadow: 0 0 8px lighten($accent-magenta, 5);
          }

          &:nth-child(2) {
            color: $accent-red;
            text-shadow: 0 0 8px lighten($accent-red, 5);
          }

          &:nth-child(3) {
            color: $accent-green;
            text-shadow: 0 0 8px lighten($accent-green, 5);
          }

          &:nth-child(4) {
            color: $accent-blue;
            text-shadow: 0 0 8px lighten($accent-blue, 5);
          }

          &:nth-child(5) {
            color: $accent-violet;
            text-shadow: 0 0 8px lighten($accent-violet, 5);
          }
        }
      }
    }
  }

  .logo {
    color: $light-gray;
    display: inline-block;
    line-height: calc(80px - 20px);
    font-size: 1.35em;
    font-weight: 500;
    margin-right: 1em;
    text-shadow: 0 0 8px lighten($light-gray, 5);

    &:hover {
      color: lighten($light-gray, 3);
    }
  }
}

.wrapper {
  max-width: 100%;
  padding: 10px;
  color: $light-gray;

  .data-wrapper {
    width: 840px;
    max-width: 100%;
    margin: 0 auto;

    h1 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 36px;
      margin: 36px auto 36px auto;
      text-align: center;
      text-shadow: 0 0 6px lighten($light-gray, 5);
      &.red {
        color: $accent-red;
        text-shadow: 0 0 12px lighten($accent-red, 5);
      }
      &.orange {
        color: $accent-orange;
        text-shadow: 0 0 12px #f9be5a;
      }
    }

    h2 {
      color: $light-gray;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 24px;
      margin: 36px auto 36px auto;
      text-align: center;

      &.red {
        // color: $accent-red;
        margin: 36px auto 18px auto;
        text-align: left;
        // text-shadow: 0 0 12px lighten($accent-red, 5);
      }

      &.magenta {
        color: #D50BB0;
        margin: 36px auto 18px auto;
        text-align: left;
        text-shadow: 0 0 12px lighten(#D50BB0, 5);
      }
    }
  }
}

body.high_voltage-pages .wrapper, body.welcome .wrapper {
  background-color: $dark-background-color;
  color: $light-gray;
  min-height: calc(100% - 80px);
}

.static-wrapper {
  width: 720px;
  max-width: 100%;
  margin: 0 auto;

  h1 {
    color: $light-gray;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 36px;
    margin: 36px auto 36px auto;
    text-align: center;
    text-shadow: 0 0 6px lighten($light-gray, 5);
    &.red {
      color: $accent-red;
    }
    &.orange {
      color: $accent-orange;
    }
    &.green {
      color: $accent-green;
      text-shadow: 0 0 12px lighten($accent-green, 15);
    }
    &.blue {
      color: $accent-blue;
      text-shadow: 0 0 12px lighten($accent-blue, 15);
    }
    &.violet {
      color: $accent-violet;
      text-shadow: 0 0 12px lighten($accent-violet, 15);
    }
  }

  h2 {
    color: $accent-green;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 28px;
    margin: 36px auto 18px auto;
    text-shadow: 0 0 12px lighten($accent-green, 15);
  }

  p {
    color: $light-gray;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.35em;
    margin-bottom: 1em;
  }

  a {
    color: lighten($accent-violet, 30);
    &:hover {
      color: lighten($accent-violet, 30);
      border-bottom: 1px solid lighten($accent-violet, 30);
    }
    &.blue {
      color: lighten($accent-blue, 30);
      &:hover {
        color: lighten($accent-blue, 30);
        border-bottom: 1px solid lighten($accent-blue, 30);
      }
    }
    &.green {
      color: lighten($accent-green, 30);
      &:hover {
        color: lighten($accent-green, 30);
        border-bottom: 1px solid lighten($accent-green, 30);
      }
    }
  }
}

.button {
  background-color: darken($accent-green, 15);
  border: 2px solid lighten($accent-green, 5);
  color: lighten($accent-green, 75);
  cursor: pointer;
  border-radius: $base-border-radius;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin: 0.25em;
  padding: .5em 2.25em;
  text-align: center;
  width: 120px;

  &:last-child {
    margin-right: 0;
  }

  &.red {
    background-color: darken($accent-red, 15);
    border: 2px solid lighten($accent-red, 5);
    color: $light-gray;
    &.lit {
      -moz-box-shadow: 0 0 6px 2px lighten($accent-red, 15);
      -webkit-box-shadow: 0 0 6px 2px lighten($accent-red, 15);
      box-shadow: 0 0 6px 2px lighten($accent-red, 15);
      background-color: darken($accent-red, 0);
      border: 2px solid darken($accent-red, 10);
    }
  }

  &.violet {
    background-color: darken($accent-violet, 15);
    border: 2px solid lighten($accent-violet, 5);
    color: lighten($accent-violet, 75);
  }

  &.orange {
    background-color: darken($accent-orange, 15);
    border: 2px solid lighten($accent-orange, 5);
    color: lighten($accent-orange, 75);
  }
}

.controls-container {
  margin: 48px auto 36px auto;
  float: right;
  text-align: right;
}

.window {
  background-color: lighten($dark-background-color, 1);
  border-radius: $base-border-radius;
  border: 1px solid lighten($dark-background-color, 10);
  color: $light-gray;
  min-height: 150px;
  margin: 0 auto 0 auto;
  padding: 12px;
  width: 486px;
  max-width: 100%;

  &.results {
    margin: 36px auto 4em auto;
    width: 838px;
    height: 200px;

    .column {
      margin: 0 24px 0 0;
    }

    .dropdown {
      display: inline-block;
      background: #242361;
      border: 1px solid #2B2974;

      &:hover {
        background: #242361;
      }
    }

    .items.column {
      width: calc(100% - (227px * 2));
      text-align: center;
      .heading {
        display: block;
      }
      .group {
        display: inline-block;
        margin: 0 6px;
      }
    }
  }

  h2 {
    text-align: center;
    max-width: 368px;
    color: $light-gray;
  }

  .column {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;

    .heading {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 1em;
      letter-spacing: 0.02em;
    }

    &.diff {
      color: $light-gray;
      width: 120px;
      font-size: 28px;
      font-weight: 500;
      text-align: center;
    }

    &:last-child {
      margin: 0;
    }
  }

  .champion-portrait {
    width: 120px;

    img {
      height: 120px;
      width: 120px;
    }

    .name {
      color: $light-gray;
      font-weight: 500;
      text-align: center;
    }
  }

  .items, .items-before, .items-after {
    .item {
      display: inline-block;
      height: 44px;
      margin: 2px;
      width: 44px;
    }

    img {
      display: inline-block;
      height: 44px;
      margin: 2px;
      width: 44px;
    }

    &.cluster {
      display: block;
      text-align: center;

      .item {
        height: 60px;
        margin: 2px;
        width: 60px;
      }
    }
  }
}

.footer {
  background-color: $dark-background-color;
  color: $light-gray;
  font-weight: 400;
  font-size: 0.65em;
  text-align: center;
  line-height: 1.25em;
  margin: 4em auto;

  p {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 800px;
  }
}

.dropdown {
  border: 1px solid #ccc;
  display: inline-block;
  text-align: left;
  border-radius: 2px;
  overflow: hidden;
  background: rgba(86,22,148,1.0) url("/ripples/images/down-arrow.png") no-repeat 92% 50%;
  border: 1px solid rgba(183,60,252,1.0);
  color: #d2d1df;

  &:hover {
    background: rgba(86,22,148,0.95) url("/ripples/images/down-arrow.png") no-repeat 92% 50%;
  }

  &.red {
    background: rgba(140,26,97,1.0) url("/ripples/images/down-arrow.png") no-repeat 92% 50%;
    border: 1px solid rgba(253,65,132,1.0);

    &:hover {
      background: rgba(140,26,97,0.95) url("/ripples/images/down-arrow.png") no-repeat 92% 50%;
    }
  }

  &.magenta {
    background: rgba(112,21,123,1.0) url("/ripples/images/down-arrow.png") no-repeat 92% 50%;
    border: 1px solid rgba(255,27,213,1.0);

    &:hover {
      background: rgba(112,21,123,0.95) url("/ripples/images/down-arrow.png") no-repeat 92% 50%;
    }
  }

  &.blue {
    background: darken($accent-blue, 15) url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    border: 2px solid lighten($accent-blue, 5);

    &:hover {
      background: darken($accent-blue, 10) url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    }
  }

  &.green {
    background: darken($accent-green, 15) url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    border: 2px solid lighten($accent-green, 5);

    &:hover {
      background: darken($accent-green, 10) url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    }
  }

  select {
    -webkit-appearance: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
    color: $light-gray;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin: 0.25em 0;
    text-align: left;
    padding: 0 10px;
    padding: 5px 8px;
    width: 120px;

    &:focus {
      outline: none;
    }
    option {
      background: #242361;
    }
  }
}

.highlight {
  margin: 2em auto 4em auto;
}

.highlight .row {
  margin-top: 36px;
}

.items-before, .items-after {
  width: 164px;
  height: 120px;
  display: inline-block;
}

.not-penguin-wrapper {
  display: inline-block;
  width: calc(100% - 260px);
  vertical-align: top;
  margin-top: 48px;
}

img.penguin {
  display: block;
  width: 250px;
  margin: 0px auto 24px auto;
}
