<div class='data-wrapper'>
  <h1 class='red'>Highlights</h1>
  <div class='highlight'>
    <h2 class='red'>1. AP Items</h2>
    <p>
    First, check out how AP item usage changed with the <b>MASSIVE AP ITEM OVERHAUL!</b>  Look how much more useful Liandry's is now!  And Rylai's is just broken.
    </p>
    <div class='row'>
      <div class='dropdown red'>
        <select class='scale apItems'>
          <option id='count' value="count" data-slice='count'>Popularity</option>
          <option id='winrate' value="winrate" data-slice='winrate'>Winrate</option>
        </select>
      </div>
    </div>
    <div class='ap-items-viz'></div>
  </div>

  <div class='highlight'>
    <h2 class='red'>2. AP(ish) Champs</h2>
    <p>
    Next, take a look at how your chosen champion who could semi-reasonably build AP items is doing!  Diana's doing work, but Dr. Mundo has been relegated to surgical assistant.
    </p>
    <div class='row'>
      <div class='dropdown red'>
        <select class='scale apChamps'>
          <option id='count' value="count" data-slice='count'>Popularity</option>
          <option id='winrate' value="winrate" data-slice='winrate'>Winrate</option>
        </select>
      </div>
    </div>
    <div class='ap-champs-viz'></div>
  </div>

  <div class='highlight'>
    <h2 class='red'>3. Your Favorite Champ!</h2>
    <p>
    Finally, see how your favorite champion is building now.  Some changed everything (like the jungle E's), and others like Rammus, thought the changes were just "ok."  (*psst* check out Maokai and Poppy)
    </p>

    <div class='window results'>
      <div class='champion-portrait column'>
        <img src='http://ddragon.leagueoflegends.com/cdn/5.14.1/img/champion/Annie.png'>

        <div class='dropdown red'>
          <select class='champion'>
            <option id='annie' value="annie" selected>Annie</option>
            <option id='morgana' value="morgana">Morgana</option>
            <option id='zyra' value="zyra">Zyra</option>
          </select>
        </div>
      </div>

      <div class='items column'>
        <div class='heading'>5.11 Items</div>
        <div class='items-before'></div>
        <div class='heading'>5.14 Items</div>
        <div class='items-after'></div>
      </div>

      <div class='diff column'>
        <div class='heading'>Difference</div>
      </div>
    </div>
  </div>
</div>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

.ap-items-viz {
  color: #ededed;
}

svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ededed;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #ededed;
}

.axis.hidden {
  display: none;
}

.x.axis path {
  display: none;
}

.x-axis-images {
  width: 44px;
  height: 44px;
}

.legend text {
  fill: #ededed;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
<%= render 'welcome/apitems.js' %>
</script>

<script>
<%= render 'welcome/apchamps.js' %>
</script>
