<div class='data-wrapper'>
  <h1>Highlights</h1>
  <h2>1. More distinct identities among mages</h2>
  <div class='row'>
    <div class='dropdown blue'>
      <select class='scale'>
        <option id='count' value="count" data-slice='count'>Popularity</option>
        <option id='winrate' value="winrate" data-slice='winrate'>Winrate</option>
      </select>
    </div>
  </div>
  <div class='ap-items-viz'></div>
</div>
<!-- <div><%= @ap_items %></div> -->
<!-- <div><%= @ap_champs %></div> -->
<!-- <div><%= @diff_champs %></div> -->

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

.ap-items-viz {
  color: #ededed;
}

svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ededed;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #ededed;
}

.axis.hidden {
  display: none;
}

.x.axis path {
  display: none;
}

.x-axis-images {
  width: 44px;
  height: 44px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
<%= render 'welcome/apitems.js' %>
</script>
