<div class='data-wrapper'>
  <h1 class='red'>Highlights</h1>
  <div class='highlight'>
    <h2 class='red'>1. AP Items</h2>
    <p>
    First, check out how AP item usage changed with the <b>MASSIVE AP ITEM OVERHAUL!</b>  Look how much more useful Liandry's is now!  And Rylai's is just broken.
    </p>
    <div class='row'>
      <div class='dropdown red'>
        <select class='scale apItems'>
          <option id='count' value="count" data-slice='count'>Popularity</option>
          <option id='winrate' value="winrate" data-slice='winrate'>Winrate</option>
        </select>
      </div>
    </div>
    <div class='ap-items-viz'></div>
  </div>

  <div class='highlight'>
    <h2 class='red'>2. AP(ish) Champs</h2>
    <p>
    Next, take a look at how your chosen champion who could semi-reasonably build AP items is doing!  Diana's doing work, but Dr. Mundo has been relegated to surgical assistant.
    </p>
    <div class='row'>
      <div class='dropdown red'>
        <select class='scale apChamps'>
          <option id='count' value="count" data-slice='count'>Popularity</option>
          <option id='winrate' value="winrate" data-slice='winrate'>Winrate</option>
        </select>
      </div>
    </div>
    <div class='ap-champs-viz'></div>
  </div>

  <div class='highlight'>
    <h2 class='red'>3. Your Favorite Champ!</h2>
    <p>
    Finally, see how your favorite champion is building now.  Some changed everything (like the jungle E's), and others like Rammus, thought the changes were just "ok."  (*psst* check out Maokai and Poppy)
    </p>

    <div class='window results'>
      <div class='dropdown red column'>
        <select class='champion' size='8'>
          <option id='Aatrox' value="Aatrox" selected>Aatrox</option>
          <option id='Ahri' value="Ahri">Ahri</option>
          <option id='Akali' value="Akali">Akali</option>
          <option id='Alistar' value="Alistar">Alistar</option>
          <option id='Amumu' value="Amumu">Amumu</option>
          <option id='Anivia' value="Anivia">Anivia</option>
          <option id='Annie' value="Annie">Annie</option>
          <option id='Ashe' value="Ashe">Ashe</option>
          <option id='Azir' value="Azir">Azir</option>
          <option id='Bard' value="Bard">Bard</option>
          <option id='Blitzcrank' value="Blitzcrank">Blitzcrank</option>
          <option id='Brand' value="Brand">Brand</option>
          <option id='Braum' value="Braum">Braum</option>
          <option id='Caitlyn' value="Caitlyn">Caitlyn</option>
          <option id='Cassiopeia' value="Cassiopeia">Cassiopeia</option>
          <option id="Cho'Gath" value="Cho'Gath">Cho'Gath</option>
          <option id='Corki' value="Corki">Corki</option>
          <option id='Darius' value="Darius">Darius</option>
          <option id='Diana' value="Diana">Diana</option>
          <option id='Dr. Mundo' value="Dr. Mundo">Dr. Mundo</option>
          <option id='Draven' value="Draven">Draven</option>
          <option id='Ekko' value="Ekko">Ekko</option>
          <option id='Elise' value="Elise">Elise</option>
          <option id='Evelynn' value="Evelynn">Evelynn</option>
          <option id='Ezreal' value="Ezreal">Ezreal</option>
          <option id='Fiddlesticks' value="Fiddlesticks">Fiddlesticks</option>
          <option id='Fizz' value="Fizz">Fizz</option>
          <option id='Galio' value="Galio">Galio</option>
          <option id='Gangplank' value="Gangplank">Gangplank</option>
          <option id='Garen' value="Garen">Garen</option>
          <option id='Gnar' value="Gnar">Gnar</option>
          <option id='Gragas' value="Gragas">Gragas</option>
          <option id='Graves' value="Graves">Graves</option>
          <option id='Hecarim' value="Hecarim">Hecarim</option>
          <option id='Heimerdinger' value="Heimerdinger">Heimerdinger</option>
          <option id='Irelia' value="Irelia">Irelia</option>
          <option id='Janna' value="Janna">Janna</option>
          <option id='Jarvan IV' value="Jarvan IV">Jarvan IV</option>
          <option id='Jax' value="Jax">Jax</option>
          <option id='Jayce' value="Jayce">Jayce</option>
          <option id='Jinx' value="Jinx">Jinx</option>
          <option id='Kalista' value="Kalista">Kalista</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
          <option id='Fiora' value="Fiora">Fiora</option>
        </select>
      </div>

      <div class='champion-portrait column'>
        <img src='http://ddragon.leagueoflegends.com/cdn/5.14.1/img/champion/Annie.png'>
      </div>

      <div class='items column'>
        <div class='group'>
          <div class='heading'>5.11 Items</div>
          <div class='items-before'></div>
        </div>

        <div class='group'>
          <div class='heading'>5.14 Items</div>
          <div class='items-after'></div>
        </div>
      </div>

      <div class='diff column'>
      </div>
    </div>
  </div>
</div>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

.ap-items-viz {
  color: #ededed;
}

svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ededed;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #ededed;
}

.axis.hidden {
  display: none;
}

.x.axis path {
  display: none;
}

.x-axis-images {
  width: 44px;
  height: 44px;
}

.legend text {
  fill: #ededed;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
<%= render 'welcome/apitems.js' %>
<%= render 'welcome/apchamps.js' %>
<%= render 'welcome/comparison.js' %>
</script>
