<div class='static-wrapper'>
  <h1>About</h1>

  <p>
  We built this as an entry to the Riot Games API challenge
  </p>

  <p>
  Specifically, we wanted to show the changes in AP item usage across patches 5.11 and 5.14.
  </p>
</div>
