<div class='static-wrapper'>
  <h1>About</h1>

  <p>
  We built this as an entry to the second <%= link_to 'Riot Games API Challenge!', "https://developer.riotgames.com/discussion/announcements/show/2lxEyIcE", class: 'blue' %>
  </p>

  <p>
  We decided to investigate how people used items differently after the <b>MASSIVE OVERHAUL OF ALL THINGS AP</b> of Patch 5.14.  
  </p>

  <p>
  But we weren't only interested in AP items.  Mages get all the attention.  What about the tanks?  What about the supports?  What about the...junglers?!?!  *gasp*  What kind of ripples did 5.14 thrust upon the sea of ranked play?
  </p>

  <p>
  <%= link_to 'We\'ll show you.', page_path('results'), class: 'blue' %> Or <%= link_to 'come explore.', page_path('explore'), class: 'blue' %>  See the ripples!
  </p>
</div>
