<div class='static-wrapper'>
  <h1 class='violet'>Contribute</h1>

  <p>
  Ripples code lives at <a href='https://github.com/maryschmidt/ripples'>GitHub</a>
  </p>

  <p>
  If you'd like to contribute, just submit a Pull Request :)
  </p>
</div>
