html, body {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  max-width: 100%;
  padding: 10px;
}

body.high_voltage-pages .wrapper {
  background-color: $dark-background-color;
  color: $light-gray;
  min-height: 100%;
}
